[Desktop Entry]
Name=eclipse
Name[zh_CN]=eclipse
Comment=eclipse Client
Exec=/work/tools/adt-bundle-linux-x86_64-20140702/eclipse/eclipse
Icon=/work/tools/adt-bundle-linux-x86_64-20140702/eclipse/icon.xpm
Terminal=false
Type=Application
Categories=Application;
Encoding=UTF-8
StartupNotify=true
